<component name="ArtifactManager">
  <artifact type="war" name="spring_aop:war">
    <output-path>$PROJECT_DIR$/spring_aop/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_aop</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="itheima_spring_exception-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_aop:war exploded" />
    </root>
  </artifact>
</component>